/*CSS for Week 3 Homework*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* End of Reset Declaration*/

#container { width:500px; margin:0; padding:15px; padding-bottom:50px; }
body { background-color:#eee; }
main { background-color:white; padding: 20px;  border-radius:3px; }
header { margin:auto; display:flex; flex-direction:column; align-items:center; }
h1, h2{ margin:25px 0;}
p { margin:15px 0; color:#666; }
#company-logo { width:200px; height:200px; margin:20px; border-radius:10%; }
li { list-style:none }
a { text-decoration:none; color:black; }
.step-hidden { 	
	width: 15px;
	height: 15px; 
	border: 1px solid black;
	background-color: white;
	border-radius: 50%;
	float:left;
	margin-right:10px;
}
.current { background-color:black; }
#nav-link { margin:20px 0 30px; width:150px; }
#nav-link li { padding: 5px 10px; margin:0; text-align:left; }
.progress-bar { 
	width: 100%; 
	height: 20px; 
	border:1px solid black; 
	margin-top:-8px;
	margin-bottom: 30px; 
}
.progress-bar ul { display:flex;padding:1px; }
.init-prog-bar { background-color:black; width:12.5vw; height:18px; }
.current-prog-bar { 
	background-color: black; 
	width: 25vw; 
	height: 18px; 
	border-left: 1px solid #ccc;
}
.prog-bar { background-color:#eee; width:25vw; height:18px; border-left:2px solid #ccc; }
.last-prog-bar { background-color:#eee; width:12.5vw; height:18px; border-left:2px solid #ccc; }
#main-box { display:flex; flex-direction:column; }
.wrap-div{ column-count:1; }
.wrap-div label, input{ width:80%;  margin:10px 0; margin-right:100px;}
#main-box select, #hidden-box select { width:200px; margin:10px 0; margin-right:200px; }
#post-code { width:100px; }

/* Toggled State */
#shipping-addr:checked ~ #hidden-box{
   display: none;
}
/*hiding the up and down buttons on input type=number*/
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.description-div { margin:30px 0; }
textarea { width:400px; height:100px; padding:10px; margin:12px;}
.shipbox { vertical-align:top;}
.box { width:25px; height:20px; margin:0; margin-left:10px; }
#btn-div { text-align:right; margin:50px 0;}
#submit { 
	width: 150px;
	height: 60px;
	border-radius: 5px;
	margin-right: 0;
}

/*step2 styles*/
.newsletter-div label { font-size:12px; }
.newsletter-div input { width:10px; height:10px; margin:0 20px 0 0; }
.pass-error { display:none; font-size:9px; color:#333; }
input[type="password"]:invalid:focus ~ .pass-error{ display:block; margin-top:-2px; }
/*end...*/

/*step3 styles*/
.preferences-div { 
	display: flex;
	flex-wrap: wrap;
	margin:20px 0;
}
.preferences-div div { width:220px; }
.icon { width:20px; height:20px; padding-left:15px; padding-right:3px; }
.preferences-div label{ vertical-align:3px; }
.items-div { display:flex; text-align:right; flex-wrap:wrap;}
.item { width: 200px; border: 2px solid #ccc; border-radius:5px; }
.items-div div { margin: 10px; }
.items-div div label{ vertical-align:top; font-weight:400; }
.box2 { width:15px; height:15px; margin:0; margin-left:10px; }
/*end...*/

/*step4 styles*/
.payment-main-box  { width:350px; margin:auto; margin-top:50px; }
.sub-main-box {
	display:flex;
	flex-direction:column;
	border: 1px solid #ccc;
	padding: 30px;
	border-radius: 3px;
}
.sub-main-box .wrap-div { margin-right:80px;}
.sub-main-box .wrap-div label, input{ width:100%; }
#exp-month, #exp-year { width:100px; }
#ccv { width:50px; }
/*end...*/

/*last-step styles*/
.final-step-main-box { height:450px; text-align:center; }
.final-step-main-box img{ width: 80px; margin-top: 50px;}
.jk p{ display:none;}
.jk:hover p { display:block}
