/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* End of Reset Declaration*/

body {
  margin: 100px 130px;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("background-image.jpg");
  background-size: 60% 50%;
	background-repeat: repeat-y;
	padding: 0 50px;
	background-attachment: fixed;
  background-position: right; 
}
img {
  width: 150px;
  border: 3px solid #dedede;
  margin-right: 30px;
}
header {	
  display: flex;
}
.icon {
  width: 15px;
  height: 15px;
  margin: 0 15px;
  border: 0;
}
#contact {
  margin: 30px 0;
}
#contact ul {
  display: flex;
  list-style: none;
  background-color: #dedede;
  margin: 0 -30px;
  padding: 10px 60px;
  justify-content: center;
}
#contact ul li {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
#work-desc {
	color: #888;
}
p, li{
  font-size: 15px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
  color: #888;
	border-bottom: 1.5px solid #888;
}
li {
  list-style: none;
}
h1, h2 {
  margin-bottom: 5px;
}
#sub-main {
  display: flex;
}
#work-experience{
  width: 50%;
}
#education {
  width: 50%;
}
.contents {
	margin: 20px 0;
	line-height: 20px;
}
.gray-text {
	color: #888;
	font-style: italic;
	font-size: 12px;
}
.dates {
	margin-bottom: 5px;
}




















