/*CSS for Week 1 Homework*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* End of Reset Declaration*/

#container {width:1000px; margin:50px auto; }
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("background-image.jpg");
  background-size: 60% 50%;
	background-repeat: repeat-y;
	background-attachment: fixed;
  background-position: right; 
}
header { flex-direction:row; text-align:left; }
img { width:150px; border:3px solid #dedede; margin:50px; }
.name-div {	width:600px; margin:50px; }
main { display:flex; flex-direction:column; justify-content:center; }
li { list-style:none; }
.icon { width:15px; margin:0 15px; }
#contact ul {
  display: flex;
	flex-direction: row;
  background-color: #dedede;
  padding: 10px 60px;
  justify-content: space-around;
}
#contact ul li { padding:0 20px; display:flex; align-items:center; }
#sub-main { display:flex; flex-direction:row; margin: 50px; }
#work-desc { color:#888; }
p, li{ font-size:15px; }
a { text-decoration:none; color:black; }
a:hover { color:#888; border-bottom:1.5px solid #888; }
#sub-main h2, #sub-main h3 {  margin-left:0; }
h1, h2 {  margin-bottom:5px; }
#work-experience, #education { width:50vw; }
.contents { margin:20px 0; line-height:20px; }
.gray-text { color:#888; font-style:italic; font-size:12px; }
.dates { margin-bottom:5px; }
footer {
	background-color: gray;
	display: flex;	
	color: #eee;
	padding: 50px;
	flex-direction:row;
}
.footer-div{ width:50vw; }
footer h3{ font-weight:400; padding-bottom:5px; margin-top:0; }
.footer-div li, .footer-div li a {
	color: #eee;
	font-size: 13px;
	line-height: 18px;
	margin-left: 5px;
}
.footer-div a:hover {
	color:white;
	font-weight: 700;
	border-bottom: 1px solid white;
}
