/*CSS for Week 2 Homework*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* End of Reset Declaration*/

#container { width:548px; margin:0; }
body { font-family:'Merriweather Sans', sans-serif; }
main, .layer { padding:40px 40px; }
main p { padding: 10px 0;}
#home { background-color:#efefef; }
#home p { margin:5px 0 40px 0; color:#777; }
#nav-link {	display:flex; flex-direction:column; padding:40px; }
li { list-style:none; padding:5px 0; }
p { color:#999; }
a { text-decoration:none; color:black; font-weight:700; }
a:hover { color:#999; }
img { width:548px; }
#industry, #gallery, #logo-div { margin:50px 0; }
#logos { display:flex; flex-wrap:wrap; justify-content:center; }
.logo {
	width: 80px;
	height: 80px;	
	padding: 20px 40px;
	padding-top: 50px;
	flex-wrap: wrap;
}
footer {
	background-color: #7749FF;
	color: white;
	line-height: 30px;
	letter-spacing: .8px;
	padding: 20px 40px;
}
h4 { margin-top:30px; margin-bottom:20px; }
.loc-map { width:200px; height:200px; margin:0 30px; }
#our-office p { margin-left:33px; color:white; }
.footer-nav li { border-top:1px solid #888;	padding:10px 0; margin:0 30px; width: 150px; }
.footer-nav li:hover { margin-left:50px; }
footer a{ color:white; }
footer a:hover { color:white; }


@media (min-width:700px) {
#container { width: 100%; margin:auto; position: relative; }
.layer { padding:40px 0; width:1100px; margin:auto; }
main { padding:0; width:100%; height:1600px; }
#home p { margin:5px 0 20px 0; }
h1{ font-size:2.5em; }
img { height:500px; width:1200px; }
#image-div { display:flex; justify-content:center; }
#nav-link { flex-direction:row; width:1100px; margin:auto; padding:30px 0; }
li { padding-right:40px; }
#about { position:relative; width:1100px; margin:auto; }
#practical { float:right; width:640px; }
#industry { left:0; width:360px; margin-right:100px; margin:50px 0; }
#our-services {
	display: flex;
	width: 1100px;
	margin-top: 350px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 20px;
}
#gallery {
	width: 360px;
	margin: 50px 0;
	margin-right: 100px;
	display: block;
	top: 1800px;
}
#logos { width:640px; margin-left:200px; margin:50px 0; }
.logo { width:110px; height:110px; padding:50px 20px 20px; }
footer { padding:20px; }
#our-office {
	display: flex;
	width: 1100px;
	justify-content: center;
	margin: auto;
	position: relative;
}
#our-office p, .footer-nav li { margin:0;}
#our-office div{ width:300px; margin-right:60px; }
.footer-nav { width:250px; }
.loc-map { width:250px; height:250px; margin:0; }
}



