/*CSS for Week 2 Homework*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,



b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* End of Reset Declaration*/


body {
	font-family: 'Merriweather Sans', sans-serif;
}
.layer {
	padding: 40px 0;
	width: 1100px;
	margin: auto;
}
header {
	background-color: #efefef;
}
h1{
	font-size: 2.5em;
}
img {
	height: 500px;
	width: 1500px;
}
.image-div {
	display: flex;
	justify-content: center;
}
header p {
	margin: 5px 0 20px 0;
	color: #777;
}
.nav-link {
	display: flex;
	width: 1100px;
	margin: auto;
	padding: 30px 0;
}
li {
	list-style: none;
	padding-right: 40px;
}
a {
	text-decoration: none;
	color: black;
	font-weight: 700;
}
a:hover {
	color: #999;
}
.sub-div {
	display: flex;
	margin-bottom: 120px;
	margin-top: 50px;
	justify-content: center;
}
.sub-div p {
	color: #999;
}
.first-div {
	width: 360px;
	font-size: 13px;
	margin-right: 100px;
}
.first-div h2 {
	font-size: 16px;
	padding-bottom: 20px;
}
.second-div h3 {
	font-size: 25px;
}
.second-div {
	width: 640px;
}
.logo {
	width: 110px;
	height: 110px;
	padding: 20px;
	padding-top: 50px;
}
footer {
	background-color: #7749FF;
	color: white;
	line-height: 30px;
	letter-spacing: .8px;
}
.layer2 {
	display: flex;
	margin: auto;
	width: 1100px;
	padding: 80px 0 100px 0;
}
.layer2 div{
	width: 300px;
	margin-right: 60px;
}
.loc-map {
	width: 250px;
	height: 250px;
	margin-right: 20px;
}
h4 {
	padding-bottom: 20px;
}
.last-div {
	margin: 0;
}
#archives li {
	border-top: 1px solid #888;
	padding: 20px 0;
}
#archives li:hover {
	margin-left: 10px;
}
#footer-nav {
	width: 300px;
}
#footer-nav-link li {
	border-top: 1px solid #888;
	padding: 20px 0;
}
footer a{
	color: white;
}
footer a:hover {
	color: white;
}
#footer-nav-link li:hover{
	margin-left: 10px;
}
.test {
	border-top: 2px solid white;
}








