/*CSS for Week 2 Homework*/

body {	font-family: 'Merriweather Sans', sans-serif;	 }
#container { width: 100%; margin:auto; position: relative; }
.layer { padding:40px 0; width:1100px; margin:auto; }
main { padding:0; width:100%; height:1600px; }
#home p { margin:5px 0 20px 0; }
h1{ font-size:2.5em; }
img { height:500px; width:1200px; }
#image-div { display:flex; justify-content:center; }
#nav-link { flex-direction:row; width:1100px; margin:auto; padding:30px 0; }
li { padding-right:40px; }
#about { position:relative; width:1100px; margin:auto; }
#practical { float:right; width:640px; }
#industry { left:0; width:360px; margin-right:100px;	margin:50px 0; }
#our-services {
	display: flex;
	width: 1100px;
	margin-top: 350px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 20px;
}
#gallery {
	width: 360px;
	margin: 50px 0;
	margin-right: 100px;
	display: block;
	top: 1800px;
}
#logos { width:640px; margin-left:200px; margin:50px 0; }
.logo { width:110px; height:110px; padding:50px 20px 20px; }
footer { padding:20px; }
#our-office {
	display: flex;
	width: 1100px;
	justify-content: center;
	margin: auto;
	position: relative;
}
#our-office p, .footer-nav li { margin:0;}
#our-office div{ width:300px; margin-right:60px; }
.footer-nav { width:250px; }
.loc-map { width:250px; height:250px; margin:0; }




